{% extends "base.html" %}

{% block content %}
<h1 class="text-center">About me</h1>
<br><br>
<img src="/img/me.jpg" alt="..." class="rounded-circle row mx-auto" width=384 height=384>
<br><br>
<div class="text-center">
    <p>Hello and welcome to my Website</p>
    <p>My Name is Thomas and i am currently studying Computer Science.</p>
    <br><br>
    <h4>Background</h4>
    <p>German</p>
    <h4>Living in</h4>
    <p>Aachen, Germany</p>
    <h4>Age</h4>
    <p>21</p>
    <h4>Interests</h4>
    <p>Coding</p>
    <p>Working out</p>
    <p>Gaming</p>
    <p>Cooking</p>
    <h4>Favourite Tech</h4>
    <p>Rust</p>
    <p>Laravel</p>
    <p>Linux</p>
</div>
{% endblock %}