{% extends "base.html" %}

{% block content %}
<h1 class="title is-1 has-text-centered">
  {{ page.title }}
</h1>
<h2 class="subtitle is-2 has-text-centered">
  {{ page.extra.author }}
</h2>
<h3 class="subtitle is-3 has-text-centered">
  {{ page.date | date(format="%B %d, %Y", timezone="Europe/Berlin") }}
</h3>
<br><br>

<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="{{ page.extra.cover }}" alt="...">
    </figure>
  </div>
</div>


<br><br>

{% for category in page.taxonomies.categories %}
<a class="button is-primary is-small" href="/categories/{{ category }}">{{ category }}</a>
{% endfor %}
<br><br>

<div class="content">
  {{ page.content | safe }}
</div>
{% endblock content %}