{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1 class="title is-1 has-text-centered">
  {% block title %}{{ section.title }}{% endblock %}
</h1>
<br><br>

<div class="buttons has-addons is-centered">
  {% set categories = get_taxonomy(kind="categories") %}
  <a class="button" href="/blog/">All</a>
  {% for category in categories.items %}
  <a class="button" href="/categories/{{ category.name }}">{{ category.name }}</a>
  {% endfor %}
</div>
<br><br>

{% block overview %}
<div class="columns">
  {% for page in section.pages %}
  <div class="column is-one-third">
    {{ macros::post_preview(page=page) }}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% endblock content %}