{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1 class="title is-1 has-text-centered">Hello, i'm Thomas</h1>
<br><br>

<h2 class="title is-2">Latest Article</h2>
<div class="columns">
    <div class="column is-one-quarter">
        {% set blog = get_section(path="blog/_index.md") %}
        {% set latest = blog.pages | first %}
        {{ macros::post_preview(page=latest) }}
    </div>
    <div class="column content">
        {{ section.content | safe }}
    </div>
</div>
{% endblock content %}