{% extends "base.html" %}

{% block content %}
<h1 class="text-center title">
  {{ page.title }}
</h1>
<h4 class="text-center title">
  {{ page.extra.author }}
</h4>
<br><br>
<img src="{{ page.extra.cover }}" class="img-fluid rounded" alt="...">
<br><br>

{% set categories = get_taxonomy(kind="categories") %}
{% for category in categories.items %}
  <a class="btn btn-secondary btn-sm" href="/categories/{{ category.name }}">{{ category.name }}</a>
{% endfor %}
<br><br>

{{ page.content | safe }}
{% endblock content %}